<div class="div">
  <h2>Change password</h2>

  <form [formGroup]="changePasswordFormGroup">

    <div class="mb-3">
      <label for="currentPassword" class="form-label">Please insert current password</label>
      <div class="flexContainer">
        <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword"
               [type]="showCurrent ? 'text' : 'password'">
        <button class="btn btn-info" mat-raised-button  color="primary" (click)="currentPassword()">{{showCurrent ? 'Hide' : 'Show'}}</button>
      </div>
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">Please insert new password</label>
      <div class="flexContainer">
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
               [type]="showNew ? 'text' : 'password'">
        <button class="btn btn-info" mat-raised-button color="primary" (click)="newPassword()">{{showNew ? 'Hide' : 'Show'}}</button>
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmNewPassword" class="form-label">Please confirm new password</label>
      <div class="flexContainer">
        <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword"
               [type]="showConfirm ? 'text' : 'password'">
        <button class="btn btn-info" mat-raised-button color="primary" (click)="confirmNewPassword()">{{showConfirm ? 'Hide' : 'Show'}}</button>
      </div>
    </div>

    <button type="submit" mat-raised-button (click)="onSubmit()">Submit</button>
    <button type="submit" class="btn btn-danger" (click)="onSubmit()" routerLink="/Main">Back</button>

  </form>
</div>
