<div class="card" style="width: 50rem; ">
  <img class="card-img-top" src="assets/img.png" alt="Card image cap">
  <div class="under-image-div">
    <button class="btn btn-primary" (click)="follow()"> Follow</button>
    <button class="btn btn-danger" (click)="toggleDisplayDivIf()"> Report</button>
    <button class="btn btn-danger" (click)="deleteAd()"> Delete</button>
    <button class="btn btn-warning" (click)="toggleDisplayDivReject()"> Reject</button>
    <button class="btn btn-info" (click)="approveAd()"> Approve</button>
    <a [routerLink]="['/Ad-Edit', ad_id]"><button class="btn btn-dark">Edit Ad </button></a>

    <div class="mb-3" *ngIf="isShowDivIf">
      <form class="p-5" [formGroup]="reportForm">
        <label>Please select report reason</label>
        <select required class="form-control" formControlName="reportReason">
          <option value="DATA_FILLED_IN_INCORRECTLY">Data filled in incorrectly</option>
          <option value="VEHICLE_SOLD">Vehicle sold</option>
          <option value="MULTIPLE_VEHICLES_IN_ONE_AD">Multiple vehicles in one ad</option>
          <option value="SUSPICION_OF_SCAM">Suspicion of scam</option>
          <option value="ADVERTISING_SERVICES">Advertising services</option>
          <option value="INSULTING">Insulting</option>
          <option value="OTHER">Other</option>
        </select>
        <button class="report btn btn-primary" (click)="report()">Submit</button>
        <button class="report btn btn-danger" routerLink="/Main">Cancel</button>
      </form>
    </div>

    <div class="mb-3" *ngIf="isShowDivReject">
      <form class="p-5" [formGroup]="rejectForm">
        <label>Reason for rejecting the ad</label>
        <input required class="form-control" formControlName="rejectedReason">
        <button class="report btn btn-primary" (click)="rejectAd()">Submit</button>
        <button class="report btn btn-danger" routerLink="/Inactive-Ads">Cancel</button>
      </form>
    </div>
  </div>

  <div class="card-body flex-lg-grow-1">

    <h2 class="">{{ad.carResponseDTO.brand}} {{ad.carResponseDTO.model}} - {{ad.carResponseDTO.engineType}}</h2>
    <p class="">Price: {{ad.price}}</p>
    <p class="">Posted by: {{ad.user.username}}</p>

    <br>

    <div>
      <h3>General informations</h3>
      <br>
      <p class="">Brand: {{ad.carResponseDTO.brand}}</p>
      <p class="">Model: {{ad.carResponseDTO.model}}</p>
      <p class="">Mileage: {{ad.carResponseDTO.mileage}}</p>
      <p class="">Category: {{ad.carResponseDTO.carCategory}}</p>
      <p class="">Engine type: {{ad.carResponseDTO.engineType}}</p>
      <p class="">Fuel type: {{ad.carResponseDTO.fuelType}}</p>
      <p class="">Engine cubicle: {{ad.carResponseDTO.engineCubicle}}</p>
      <p class="">Power(hp): {{ad.carResponseDTO.power}}</p>
      <p class="">Exchange: {{ad.carResponseDTO.exchange}}</p>
    </div>

    <div>
      <h3>Additional informations</h3>
      <br>
      <p class="">Engine emmision class: : {{ad.carResponseDTO.engineEmmisionClass}}</p>
      <p class="">Drive: {{ad.carResponseDTO.carDrive}}</p>
      <p class="">Gearbox: {{ad.carResponseDTO.carGearbox}}</p>
      <p class="">Door number: {{ad.carResponseDTO.doorNumber}}</p>
      <p class="">Seats number: {{ad.carResponseDTO.seatsNumber}}</p>
      <p class="">Steering wheel side: {{ad.carResponseDTO.steeringWheelSide}}</p>
      <p class="">Climate: {{ad.carResponseDTO.climate}}</p>
      <p class="">Color: {{ad.carResponseDTO.color}}</p>
      <p class="">Interior material: {{ad.carResponseDTO.interiorMaterial}}</p>
      <p class="">Interior color: {{ad.carResponseDTO.interiorColor}}</p>
      <p class="">Registered until: {{ad.carResponseDTO.registeredUntil | date: 'd/M/yy'}}</p>
      <p class="">Damage: {{ad.carResponseDTO.damage}}</p>
      <p class="">Chasis number: {{ad.carResponseDTO.chassisNumber}}</p>

    </div>

    <div>
      <h3>Safety</h3>
      <p class=""> {{ad.carResponseDTO.carSafety}}</p>
    </div>

    <div>
      <h3>Additional equipment</h3>
      <p class=""> {{ad.carResponseDTO.additionalEquipment}}</p>
    </div>

    <div>
      <h3>Vehicle condition</h3>
      <p class=""> {{ad.carResponseDTO.vehicleCondition}}</p>
    </div>

    <div>
      <h3>Description</h3>
      <p class="">{{ad.description}}</p>
    </div>


  </div>
</div>
