.card {
  position: absolute;
  margin-top: 3rem;
  top: 10%;
  left: 10%;
  margin-right: -50%;
  /*transform: translate(-50%, -50%);*/
}

.under-image-div {
  margin: 1rem;
}

.btn{
  width: 8rem;
  margin: 0.3rem;
}

.report {
  width: 6rem;
}

.rightDiv{
  /*display: inline-block;*/
  position: absolute;

}
