<div class="div">
  <h2>Account verification</h2>

  <form [formGroup]="verificationFormGroup">

    <div class="mb-3">
      <label for="token" class="form-label">Please insert the token from your email address in the input field below</label>
      <input type="text" class="form-control" id="token" formControlName="token">
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <button type="submit" class="btn btn-danger" (click)="onSubmit()" routerLink="/Registration">Back</button>

  </form>
</div>
