<div class="div">
  <h2>Login to system</h2>

  <form [formGroup]="formGroup">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">

      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors?.['required']">Email is required</div>
      </div>

    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
             [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">

      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors?.['required']">Password is required</div>
      </div>

    </div>

    <button class="logBtn" mat-raised-button  type="submit" (click)="onSubmit()">Submit</button>
    <label>Dont have an account? Click <a routerLink="/Registration">here</a> and create free account!</label>
  </form>
</div>
